:root{
    --heading-background-color: #416165;
    --boarders: #d45549;
    --header_title-color: #EDB6A3;

    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
    
}
main{
    width: 1000px;
    margin: 0 auto;
    background-color: #416165;
}
h2,h3{
    color: var(--header_title-color);
    text-align: center;
}
body{
    width: 1000px;
    margin: 0 auto;
}
.hero{
    position: relative;
}
.hero img{
    width: 100%;
    height: auto;
}
.hero article img{
    width: 200px;
    float: right;
    left: 75;
}
.hero article{
    position: absolute;
    margin: 0 auto;
    top: 150px;
    width: 80%;
    color: black;
    margin: 20px;
    background: rgba(160, 204, 218, 0.75);
    border: 1px solid var(--boarders);
    
}
.hero h1{
    background: rgba(160, 204, 218, 0.75);
    position: absolute;
    top: 20px;
    float: right;
    color: black;
}
.stories{
    text-align: center;

}