:root{
    --heading-background-color: rgb(133, 186, 161);
    --boarders: #cec075;
    --header_title-color: #EDB6A3;
    --text-color: #08090a;
    --accent-color: #716a5c;

}
body{
    font-family: "Roboto", sans-serif;
}
header{
    background-color: var(--heading-background-color);
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center; 
    margin: 0 auto;
    text-decoration: none;
}
.logo img{
    grid-column: 1/2;
    margin: 0 auto;
}
.websitelinks {
    display: block;
    display: flex;
    align-items: center;
    block-size: 10px;
    justify-content: space-around;
    border: var(--boarders);
}
.websitelinks a{
    text-decoration: none;
    color: var(--text-color);
}
main{
    width: auto;
    margin: 0 auto;
    background-color: var(--heading-background-color);
}
h2{
    color: var(--text-color);
    text-align: left;
}
body{
    width: 1000px;
    margin: 0 auto;
}
.hero{
    position: relative;
}
.hero img{
    width: 100%;
    height: auto;
}
.hero article img{
    width: 150px;
    float: right;
}
.hero article{
    position: absolute;
    margin: 0 auto;
    top: 150px;
    width: 80%;
    color: black;
    margin: 20px;
    background: var(--heading-background-color);
    border: 1px solid var(--boarders);
}
.hero h1{
    background: var(--heading-background-color);
    position: absolute;
    top: 20px;
    color: black;
}

.history{
    display: grid;
    grid-template-columns: 1fr 4fr  ;
    grid-template-rows: 1fr;
    grid-gap:10px;
    border: 4px solid var(--boarders);    
}
.history h2{
    display: grid;
    justify-content: center;
    grid-column: 1;
    grid-row: 1;
    z-index: 1;
    background-color: var(--heading-background-color);
    width: 100px;
    height: 30px;   
}
.history p{
    display: grid;
    grid-column: 2;
    grid-row: 1;
    align-items: center;
    color: var(--text-color);
}
.history img{
    display: grid;
    display: flex;
    grid-column: 1;
    grid-row: 1;
    text-align: center;
}
.stories{
    text-align: center;}
.stories{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr;
    justify-items: center;
}
.stories h2{
    display: grid;
    grid-column: 3;
    text-align: center;
}
.stories figure{
    display: grid;
    grid-row: 2;
    align-self: center;
    text-decoration: none;   
}
figcaption{
    background-color: var(--boarders);
    color: var(--text-color);
    font-family: "Roboto", sans-serif;
    padding: 3px;
    text-align: center;
}
footer {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 10px; 
}

.sociallinks {
    display: flex; 
    gap: 10px; 
    margin-left: auto; 
}

footer p {
    flex: 1; 
    text-align: center; 
    margin: 0; 
}



.contact h1 {
    position: inherit;
    margin: 0 auto;
    text-align: center;

}
iframe {
    width: 100%;
}

form {
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid var(--boarders);
    border-radius: .5rem;
    display: grid;
}

fieldset{
    display: grid;
    grid-gap: .65rem;
    margin:1rem;
    border: none;
    padding: .5rem;
    text-align: left;
}

label {
    text-align: left;
}

input, select, textarea {
    padding: .5em;
    font-size: 1.0rem;
}

textarea {
    width: 650px;
}

input[type='checkbox'] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

button {
    margin: 0 auto;
    background-color: var(--boarders);
    color: var(--text-color);
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.1rem;
    width: 450px
}

.employee {
    display: grid;
    justify-content: space-evenly;
    padding: 2rem;
    
}
.employee h2{
    text-align: center;
    grid-column: 1/6;
    border: 5px var(--boarders);
    padding: 15px;
}
.employee img {
    align-items: center;
    width: auto

}

.contact{
    text-align: center;
    display: grid;
    justify-items: center;
    font-family: "Roboto", sans-serif;
}
.contact h1{
    color: var(--text-color);
}
.employees{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
}
.employees h2{
    display: grid;
    grid-column: 2;
    text-align: center;
}
.employees figure{
    display: grid;
    grid-row: 2;
    align-self: center;
    text-decoration: none;   
}

footer {
    display: flex;
    justify-content:center;
    text-decoration: none;
}


.wireframe button {
    width: 150px;
    background-color: white;
    border: none;
}
.wireframe form{
    border: none;
}
footer img {
    height: 60%;
}


.home h1 {
    position: inherit;
    margin: 0 auto;
    text-align: center;
    padding: .5rem;
}

.home article {
    position: absolute;
    top: 425px;
    width: 95%;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-weight: 1000;
    color: var(--text-color);
    font-size: 1.5rem;
    text-align: center;
}


.container {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    margin: 0 auto;
    width: 100%;
}

.column_one {
    text-align: center;
    margin: 0 auto;
}

.column_two {
    text-align: center;
    margin: 0 auto;
}

.column_2 img {
    height: auto;
    max-width: 100%
}



.trips h1 {
    position: inherit;
    margin: 0 auto;
    text-align: center;
}

.column1 {
    display: flex;
    border: 5px solid var(--boarders);
    border-bottom: none;

}

.tripA, .tripB, .tripC {
    width: 33.33%;
    box-sizing: border-box; 
    padding: 15px; 
    text-align: center;
    font-weight: 400;
}

.tripA img, .tripB img, .tripC img {
    max-width: 100%; 
    height: auto; 
    display: block; 
    margin: 0 auto; 
}

table {
    border-collapse: collapse;
    width: 100%;
    border: 5px solid var(--boarders);
}

th, td {
    border: 2.5px solid var(--boarders);
    text-align: center;
    padding: .5rem;
    font-size: 1.10rem;
    font-weight: 400;
}

caption {
    border-right: var(--boarders);
    border-left: var(--boarders);
    border-top: var(--boarders);
    background-color: var(--boarders);
}